.instruction {
  background-color: #303030;
}

.bird-details {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  width: 100%;
  background-color: #303030;
  height: 100%;
}

.card-body img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 2rem;
}

.card-body {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.small-player {
  width: 120px;
  height: 25px;
}
